<main>
  <div class="container g-py-30 mt-5">

    <div class="row">
      <div class="col-md-12 g-mb-30">
        <div class="card canvas-outer-a">
          <div class="card-body">
            <div class="sub-header border-bottom-b1">
              <h4 class="text-center">
                LOGIN
              </h4>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <form class="border-bottom-b1 mt-15" [formGroup]="loginForm" (submit)="submit()">

                  <div class="form-group col-md col-xs-12">
                    <label class="required">Username</label>
                    <input class="form-control" formControlName="username"
                           placeholder="Enter username" />
                  </div>

                  <div class="form-group col-md col-xs-12">
                    <label class="required">Password</label>
                    <input type="password" class="form-control" formControlName="password"
                           placeholder="Enter password" />
                  </div>

                  <div class="form-group col-md col-xs-12 text-center mb-5">
                    <button class="btn btn-block btn-success" type="submit" [class.disabled]="loginForm.invalid">
                      <i class="fa fa-spinner fa-pulse" *ngIf=loading></i>&nbsp;Login
                    </button>

                    <p class="g-color-gray-dark-v5 mb-0">Don't have an account ?
                      <a href="" class="g-font-weight-600" (click)="goToSignUp(); false">Click Here</a>
                    </p>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
